/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input:disabled:hover,
button:disabled:hover,
select:disabled:hover {
    cursor: not-allowed; /* Change cursor to "not allowed" */
}

table tbody tr:hover {
    cursor: pointer;
}

/* Style for validation error messages */
.text-danger {
    color: red
}

/* Style for highlighting input fields with validation errors */
.input-validation-error {
    border-color: red 
}

.green-text {
    color: green;
}
